
body{
background-color:  tan; color: darkslategrey; text-align: center; }
a:active{ background-color: olive; color: darkslategrey; padding: 5px; }

img{ padding: 50px;}

header { background-color: wheat; color: darkslategrey; font-family: Verdana, sans-serif;
  height: 200px; width:100%; text-align: center; padding: 5px; }

footer { background-color: wheat; color: darkslategrey; font-family: Verdana, sans-serif;
   height: 100px; width:100%; text-align: center; padding: 5px; }


ul a{
  background-color: tan; color:darkslategrey;
  text-decoration: none;
 }

li{
  display: inline-block;
  height: 22px;
  width: 100px;
  padding: 12px;
  text-align: center;
  color: darkslategrey;
  border-left: 2px olive;
  border-right: 2px olive;
  background-color: wheat;
  margin-right: 5px; margin-left: 5px;
 }

  li:hover{
    background-color: turquoise;
   }
    h1{
      margin-left: 50px; color: darkslategrey; }
